
/* Cart button TinyMCE icon */
i.mce-i-wp-cart-tinymce::before {
    content: "\f174";
    font: 400 20px/1 dashicons;
    vertical-align: top;
}

.wspsc_yellow_box {
    background: #FFF6D5; 
    border: 1px solid #D1B655;
    color: #3F2502;
    margin: 10px 0;
    padding: 5px 5px 5px 10px;
    text-shadow: 1px 1px #FFFFFF;
}